.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 70px;
    flex-wrap: wrap;

    &__ul {
        display: flex;
        justify-content: space-between;
        width: 25%;
        list-style-type: none;

        &__li {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;

            &-link {
                text-decoration: none;
                color: #83888F;
            }
        }

    }
}