.home {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(../../../img/Bitmap.jpg);
    height: 600px;
    border-radius: 10px;
    color: $lightcream;
    background-repeat: no-repeat;


    &__text {
        width: 50%;
        // flex-wrap: wrap;

        h1 {
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            /* or 100% */


            color: #FEFCF7;
        }


        .home_button {
            background: #0E8784;
            border-radius: 6px;
            padding: 15px 30px;
            cursor: pointer;
            margin-top: 25px;
            color: $lightcream;
            font-weight: 900;
            font-size: 14px;
            line-height: 25px;
        }
    }
}






// =================================R-W-B==================================
@media screen and (max-width: 768px) {
    .home {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 380px;
        margin-top: 70px;
        text-align: center;
        background-image: url(../../../img/Bitmap.jpg);

        &__text {
            width: 80%;
            flex-wrap: wrap;

            h1 {
                font-size: 48px;
                line-height: 48px;
            }



            .home_button {
                background: #0E8784;
                border-radius: 6px;
                padding: 15px 30px;
                cursor: pointer;
                margin-top: 25px;
                color: $lightcream;
                font-weight: 900;
                font-size: 14px;
                line-height: 25px;
            }
        }


    }
}