.number {


    &__wrapper {
        display: flex;
        align-items: center;
        // max-width: 1300px;
        justify-content: space-around;
        padding: 5px;
        // flex-wrap: wrap;

        &__card {
            // width: 30%;
            position: relative;

            &:before {
                content: "";
                width: 25px;
                height: 25px;
                border-radius: 50%;
                display: block;
                position: absolute;
                background: #FEFCF7;
                border: 2px solid #0E8784;
                top: -15px;
            }

            .nember_box {
                padding-right: 90px;

                h2 {
                    font-weight: 900;
                    font-size: 72px;
                    line-height: 72px;
                    color: #FDD6BA;
                    margin: 30px 0;
                }

                h3 {
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 36px;
                    margin-bottom: 20px;
                    color: #333D4B;
                }

                p {
                    line-height: 26px;
                    color: #333D4B;
                }
            }

        }


        .n-bor {
            border-top: 2px solid #FDD6BA;


        }
    }

    .number_button {
        background: #0e8784;
        border-radius: 6px;
        padding: 15px 30px;
        cursor: pointer;
        margin-top: 25px;
        color: #fefcf7;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        border: #0E8784;
        margin-bottom: 130px;
    }
}

// =================================R-W-B==================================
@media screen and (max-width: 768px){
    .number {


        &__wrapper {
            display: flex;
            align-items: center;
            // max-width: 1300px;
            justify-content: space-around;
            padding: 5px;
            flex-wrap: wrap;
    
            &__card {
                // width: 30%;
                position: relative;
    
                &:before {
                    display: none;
                }
    
                .nember_box {
                    text-align: center;
                    padding-right: 0px;
    
                    h2 {
                        font-weight: 900;
                        font-size: 48px;
                        line-height: 72px;
                        color: #FDD6BA;
                        margin: 30px 0;
                    }
    
                    h3 {
                        font-weight: 900;
                        font-size: 24px;
                        line-height: 36px;
                        margin-bottom: 20px;
                        color: #333D4B;
                    }
    
                    p {
                        line-height: 26px;
                        color: #333D4B;
                    }
                }
    
            }
    
    
            .n-bor {
                border-top: none;
    
    
            }
        }
    
        .number_button {
            background: #0e8784;
            border-radius: 6px;
            padding: 15px 30px;
            cursor: pointer;
            margin: 25px  0 0 20px;
            color: #fefcf7;
            font-weight: 900;
            font-size: 18px;
            line-height: 25px;
            border: #0E8784;
            margin-bottom: 130px;
        }
    }
    
}